.container {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  contain: content;
  position: absolute;
  bottom: 0;
}
